@import 'variables';

.product-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  color: $primaria;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
  border-bottom: 2px solid $secundaria;
}

.product-table .mat-column-actions {
  width: 1%;
  white-space: nowrap;
}
