@import 'variables';

button.edit-button {
  background-color: $secundaria;
  color: $primaria;
  font-size: 1.5rem;
  margin: 0px 5px;
  border: 1px solid $secundaria;
}

button.edit-button:hover {
  background-color: $primaria;
  color: $secundaria;
  border: 1px solid $primaria;
}
