table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding-right: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: #fe9e23;
  font-weight: bold;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
  th,
  td {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }
}

table .mat-column-store {
  width: 35%; /* Aumente o percentual conforme necessário */
}


table .mat-column-actions,
table .mat-column-addButton {
  padding: 0px;
  width: 1%;
  white-space: nowrap;
}
