.price-list-container {
  display: flex;
  justify-content: start;
  margin-top: 40px;
}

.price-list {
  min-width: 700px !important;
}
table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: #fe9e23;
  font-weight: bold;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
  th,
  td {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }
}

table .mat-column-actions,
table .mat-column-addButton {
  padding: 0px;
  width: 1%;
  white-space: nowrap;
}
