@import 'variables';
button.add-button {
  background-color: $primaria;
  margin: 0px 5px;
  font-size: 1.5rem;
  border: 1px solid $primaria;
  color: $secundaria;
}

button.add-button:hover {
  background-color: $primaria-hover;
}