@import 'variables';

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 4fr 2fr;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.select-inputs {
  display: flex;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: $primaria;
}

.filters input,
select {
  padding: 0px 10px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.filters input {
  max-width: 100%;
}

.filters input:focus {
  border-color: $primaria;
  outline: none;
}

button {
  display: flex;
  height: 45px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: $secundaria;
  margin-top: 25px;
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid $primaria;
  color: $primaria;
}

button:hover {
  background-color: $primaria;
  color: $secundaria;
  border: 1px solid $primaria;
}

/* Responsividade para Dispositivos Móveis */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .filters input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 14px;
    padding: 10px;
  }

  button.mat-raised-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}
.product-table .mat-column-actions {
  width: 1%;
  white-space: nowrap;
}

select {
  margin-right: 5px;
  padding: 0px 10px;
}
