button.save-button {
  background-color: #fe9e23;
  margin: 0px 5px;
  border: 1px solid #fe9e23;
  font-size: 1.5rem;
  color: white;
}

button.save-button:hover {
  background-color: #fd8c00; 
}

button.save-button:disabled {
  background-color: #cccccc;
  border-color: #999999;
  color: #666666; 
  cursor: not-allowed; 
  transform: none; 
}