@import 'variables';

button.save-button {
  background-color: $primaria;
  margin: 0px 5px;
  border: 1px solid $primaria;
  font-size: 1.5rem;
  color: $secundaria;
}

button.save-button:hover {
  background-color: $primaria-hover; 
}

button.save-button:disabled {
  background-color: #cccccc;
  border-color: #999999;
  color: #666666; 
  cursor: not-allowed; 
  transform: none; 
}