@import 'variables';

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.dialog-title {
  font-size: 1.4rem;
  margin: auto;
  font-weight: bold;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 16px; // Aumentei o espaçamento entre os botões
}

.form-container {
  display: flex;
  gap: 24px;
}

.form-field {
  width: 100%;
  font-size: 1.25rem;
}

.save-button,
.close-button {
  font-weight: bold;
  font-size: 1.25rem; // Aumentei o tamanho da fonte dos botões
  padding: 6px 12px; // Aumentei o tamanho do botão
  border-radius: 8px; // Adicionei bordas mais arredondadas para um visual mais moderno
}

.save-button {
  background-color: $primaria;
  margin: 0px;
  border: 1px solid $primaria;
  color: $secundaria;
  &:hover {
    background-color: $primaria-hover;
  }
  &:disabled {
    background-color: $secundaria;
    color: $primaria-hover;
  }
}

.close-button {
  background-color: $secundaria;
  margin: 0px;
  border: 1px solid #e64a19;
  color: #e64a19;
  &:hover {
    background-color: #e64a19;
    color: $secundaria;
  }
}
